body{
    color: white;
    background: rgb(56,68,75);
    background: radial-gradient(circle, rgba(56,68,75,1) 0%, rgba(35,43,48,1) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.main {
    width: 100%;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.listcontainer {
    height: 600px;
    overflow-y: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul > li {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    padding: 10px;
    border: solid 1px black;
    border-radius: 15px;
}
label {
    align-self: center;
}

.buttons {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.buttons > span {
    margin-left: 10px;
    margin-right: 10px;
    user-select: none;
}

.buttons > span:hover {
    cursor: pointer;
}

#songname {
    align-self: center;
}

#music_progress {
    align-self: center;
    margin-bottom: 50px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aud_block {
    align-self: flex-start;
    font-size: 32px;
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aud_block > label {
    font-size: medium;
}

#music_progress{
    font-size: 42px;
}

#play{
    font-size: 64px;
}

#next,#previous{
    padding-top: 10px;
    font-size: 42px;
}

.list {
    width: 50%;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.list > p {
    align-self: center;
}

@media only screen and (max-width: 700px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .list{
        width: 100%;
    }
}
